[submodule "sunpy"]
	path = sunpy
	url = https://github.com/sunpy/sunpy.git
[submodule "astropy"]
	path = astropy
	url = http://github.com/astropy/astropy
[submodule "wcsaxes"]
	path = wcsaxes
	url = https://github.com/astrofrog/wcsaxes
